# Mac
.DS_Store

# Xcode
xcuserdata/

# Build artifacts
Build
DerivedData

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/screenshots/screenshots.html
test_output
fastlane/FastlaneRunner

# Homebrew
Brewfile.lock.json

# Bundler
/.bundle
/vendor/bundle

# Secrets
NimbleSurvey/Sources/Secrets/Secrets.swift
.private
